# Using yay for AUR packages
yay -S python-pdf2image
yay -S python-pypdf2
yay -S python-exiftool python-mutagen

# Using pacman for official repository packages
sudo pacman -S python-pytesseract
sudo pacman -S tesseract-data-eng
sudo pacman -S pdfgrep
sudo pacman -S python-xlrd
sudo pacman -S perl-image-exiftool

# Using pip for Python packages
pip install xlrd
pip install pdf2image
pip install pytesseract